<h2 class="md-title">
    Изменить организацию
</h2>
<md-content layout-padding layout="column">
    <form name="organizationForm" ng-submit="change()">

        <div flex-gt-md="40">
            <h2>Создатель: {{organization.creator.name}} {{organization.creator.surname}}</h2>
        </div>

        <md-input-container flex-gt-md="40">
            <label>Название</label>
            <input required id="organization-name" name="name" ng-model="organization.name">

            <div ng-messages="organizationForm.name.$error">
                <div ng-message="required">Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-checkbox aria-label="Disabled checkbox" ng-model="organization.is_public">
            Публичная
        </md-checkbox>

        <md-input-container flex-gt-md="40">
            <label>Слоган</label>
            <input required id="organization-slogan" name="slogan" ng-model="organization.slogan">

            <div ng-messages="organizationForm.slogan.$error">
                <div ng-message="required">Обязательное поле!</div>
            </div>
        </md-input-container>

        <md-contact-chips
                ng-model="organization.users"
                md-contacts="searchUser($query)"
                md-contact-name="name"
                md-contact-email="email"
                md-require-match="true"
                md-highlight-flags="i"
                filter-selected="true"
                placeholder="Введите имя или email">
        </md-contact-chips>

        <md-button type="submit" class="md-raised md-primary">Изменить</md-button>

    </form>

</md-content>