<md-list ng-cloak>
    <md-subheader class="md-no-sticky">Задачи, которые вы создали</md-subheader>
    <md-list-item ng-repeat="task in tasks">
        <md-checkbox ng-model="task.is_complete"></md-checkbox>
        <p>
            {{task.task}}
        </p>
        <p>
            <md-icon md-svg-src="action:ic_alarm_add_24px" aria-label="deadline"></md-icon>
            {{task.deadline | date:'yyyy-MM-dd'}}
        </p>
        <md-button class="md-icon-button" ng-click="remove(task._id)">
            <md-tooltip md-direction="bottom">
                Удалить задачу
            </md-tooltip>
            <md-icon md-svg-src="action:ic_alarm_off_24px" aria-label="Удалить задачу"></md-icon>
        </md-button>
    </md-list-item>
</md-list>