<md-dialog aria-label="Login">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>
                Опишите задачу
            </h2>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="content:ic_clear_24px" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="taskForm" ng-submit="create()">
            <md-input-container>
                <label>Описание задачи</label>
                <textarea required name="description" ng-model="task.description"></textarea>

                <div ng-messages="taskForm.description.$error">
                    <div ng-message="required">Обязательное поле!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Крайний срок</label>
                <input required name="deadline" ng-min="currentDate" type="date" ng-model="task.deadline">

                <div ng-messages="taskForm.deadline.$error">
                    <div ng-message="required">Обязательное поле!</div>
                    <div ng-message="min" translate>Укажите дату старше сегодняшнего дня!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <md-button class="md-raised md-primary" type="submit"
                           ng-disabled="query" ng-keyup="$event.keyCode == 13 ? login() : null">
                    Создать
                </md-button>
            </md-input-container>
        </form>
    </md-dialog-content>
</md-dialog>